# **This is the collaborative code for the group project QTEM Data Challenge**

###  Before editing or contributing to this code, you should create a side notebook where you can test your ideas
You can do so by cloning this notebook under another name

Also, when adding a cell, make sure you comment and put a title on what you are doing so we can keep track of all steps

Have FUN!!!

## Markdowns: 

### You can change the cell type to Markdown in the dropdown list in the top menu
### Add a cell, then select Mardown
### You can then write text under different format
### Use the "#" symbol before your text to make it bigger
# "#" will make it Super large
## "##" a bit smaller
### "###" a bit smaller
##### "####" you get the point

# ____ __________________ _________ _______ __________ ______________

## 1. Install and import packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

## 2. Importing data and defining datasets

### Important information / clarification about the datasets: 

SENT BY MAIO VITTORIO THROUGH FORUM: 

""Cartier Data Science expert would like to make a clarification on the transactions in the dataset: in the dataset there are not only repurchasing clients coming back after more than 4 years, But also clients repurchasing clients coming back before this threshold.

In terms of the project requirement, this does not impact what is expected from you. The statistics about repurchasing customers after 4 years is something that Cartier started to investigate and which would be the best starting point for your research. Of course, if it is possible to also investigate other types of returning customers, it could add a different perspective (and possibly a better insight) of repurchasing customers’ behaviour."" 

#### This means we could / should also analyze the data from customers who return after less than 4 years
#### I think we should start by the ones coming after 4 years since this is the central point 
#### We could dig deeper if we deem it necessary

In [3]:
%%time
df_Calls = pd.read_csv("b. CARTIER_CALLS.csv")
df_Clienteling = pd.read_csv("c. CARTIER_CLIENTELING.csv")
df_Livechat = pd.read_csv("d. CARTIER_LIVECHAT.csv")
df_PrevSales = pd.read_csv("e. CARTIER_PREVIOUS_SALES.csv")
df_Sales = pd.read_csv("f. CARTIER_SALES.csv")
df_Wishlist = pd.read_csv("g. CARTIER_WISHLIST.csv")

Wall time: 29.4 s

## Merging datasets

In [4]:
# Merged sales and previous sales dataset with extra column [in_salesdataset] to indicate to which original dataset 
# the data belong

df_Sales['in_salesdataset']=1
df_PrevSales['in_salesdataset']=0

# Rename column from Sale for the concat of datasets

df_Sales.rename(columns = {'articleA':'ArticleA'},inplace = True)

df_AllSales = pd.concat([df_Sales, df_PrevSales])
df_AllSales = df_AllSales.sort_values(by='ClientID', ascending= True)

#to export a dataframe to excel (for siqi): 

#df_BLABLABLA.to_csv('df_BLABLABLA.csv')

## Renaming and uniformizing some columns

In [12]:
# First let's compare all our column names
datasets = [df_Calls,
df_Clienteling,
df_Livechat,
df_Wishlist,]

# Renaming

df_Clienteling.rename(columns = {'clientID':'ClientID'}, inplace = True)
df_Livechat.rename(columns = {'cLientid':'ClientID'}, inplace = True)
df_Wishlist.rename(columns = {'clientID':'ClientID'}, inplace = True)


print(list(df_AllSales),"\n\n", list(df_Calls),"\n\n", list(df_Clienteling),"\n\n", list(df_Livechat),"\n\n", list(df_Wishlist))

['InvoiceHeader', 'Channel', 'TransactionDate', 'TransactionDate_FYYYY', 'TransactionCategory', 'ClientID', 'AgeAtTransaction', 'Gender', 'PersonBirthDate', 'WeddingDate', 'SpokenLanguage', 'WrittenLanguage', 'FirstSalesDate', 'FirstTransactionDate', 'ProductCategory', 'ProductSubCategory', 'ProductFunction', 'Turnover', 'quantity', 'seq_sales_trs', 'nb_days_since_last_sale', 'PurchasedMarketA', 'PurchasedRegionA', 'ResidencyRegionA', 'ResidencyMarketA', 'BoutiqueNameA', 'ResidencyCountryA', 'nationalityA', 'ArticleA', 'Hier_Lev_3_txtA', 'Hier_Lev_4_txtA', 'Hier_Lev_5_txtA', 'ProductCollectionA', 'in_salesdataset', 'NationalityA']

 ['CreationDate', 'Marketcall', 'EscalatedTransferedFlag', 'CallID', 'Phone_Line_Interaction', 'InteractionType', 'AnsweredCallFlag', 'FlashCallsFlag', 'AbandonedCallsFlag', 'CommunicationTime', 'WaitingTime', 'ClientID', 'Motive', 'SubMotive']

 ['ActivityId', 'ActivityStatus', 'ActivityCategory', 'ActivityType', 'Occasiontype', 'ClientID', 'StartDate', 'EndDate', 'DueDate', 'BoutiqueName', 'BoutiqueCountryA']

 ['CreationDate', 'CaseId', 'ChatDuration', 'NumberofAgentMessage', 'NumberofClientMessage', 'ClientID', 'motive', 'submotive']

 ['ClientID', 'wishlistID', 'articleA', 'createdDate', 'LastmodifiedDate', 'ProductCategory', 'ProductSubCategory', 'ProductCollectionA', 'ProductFunction', 'Hier_Lev_3_txtA', 'Hier_Lev_4_txtA', 'Hier_Lev_5_txtA']

## Defining a sample dataset

In [13]:
# Define a sample dataset to work with for speed purposes if necessary (3% of size)

#df_AllSalesSample = df_AllSales.head(int(round((len(df_allsales)/(100)),0)))
# How to get a random sample of the dataset ??
df_AllSalesSample=df_AllSales.sample(frac=0.03)
print(df_AllSalesSample.head(2))

                                  InvoiceHeader   Channel TransactionDate  \
759803  000000201875164-GEMINI-/BIC/AZRIRBAJP00       Web      2020-06-12
568787  000000061204336-GEMINI-/BIC/AZRIRBAJP00  Boutique      2019-10-14

        TransactionDate_FYYYY TransactionCategory            ClientID  \
759803                   2021                Sale  0011i00000VhfANAAZ
568787                   2020              Repair  0011i00000VvE1VAAV

        AgeAtTransaction  Gender PersonBirthDate WeddingDate  ...  \
759803              50.0    Male      1971-08-19         NaN  ...
568787               NaN  Female             NaN         NaN  ...

       BoutiqueNameA ResidencyCountryA nationalityA  ArticleA Hier_Lev_3_txtA  \
759803           NaN              56.0          NaN     556.0            84.0
568787          76.0              56.0          NaN  123868.0             5.0

       Hier_Lev_4_txtA Hier_Lev_5_txtA  ProductCollectionA  in_salesdataset  \
759803             NaN             NaN                78.0                0
568787           157.0           539.0                57.0                0

        NationalityA
759803           NaN
568787          99.0

[2 rows x 35 columns]

In [7]:
list(df_AllSales)

['InvoiceHeader',
 'Channel',
 'TransactionDate',
 'TransactionDate_FYYYY',
 'TransactionCategory',
 'ClientID',
 'AgeAtTransaction',
 'Gender',
 'PersonBirthDate',
 'WeddingDate',
 'SpokenLanguage',
 'WrittenLanguage',
 'FirstSalesDate',
 'FirstTransactionDate',
 'ProductCategory',
 'ProductSubCategory',
 'ProductFunction',
 'Turnover',
 'quantity',
 'seq_sales_trs',
 'nb_days_since_last_sale',
 'PurchasedMarketA',
 'PurchasedRegionA',
 'ResidencyRegionA',
 'ResidencyMarketA',
 'BoutiqueNameA',
 'ResidencyCountryA',
 'nationalityA',
 'ArticleA',
 'Hier_Lev_3_txtA',
 'Hier_Lev_4_txtA',
 'Hier_Lev_5_txtA',
 'ProductCollectionA',
 'in_salesdataset',
 'NationalityA']

## 2.1 Cleaning the data

In [14]:
# Remove duplicates
df_AllSalesWithDuplicates = df_AllSales
total_rows_before = df_AllSalesWithDuplicates.shape[0]
total_rows_before

# We have 2 173 083 rows in All_Sales dataset with duplicate data

2169246

In [15]:
# Remove duplicates

df_AllSales.drop_duplicates(inplace=True)

total_rows_after = df_AllSales.shape[0]
duplicates_count = total_rows_before - total_rows_after
duplicates_count

0

In [16]:
# Drop irrelevant columns

df_AllSales.drop(["Hier_Lev_3_txtA", "Hier_Lev_4_txtA", "Hier_Lev_5_txtA"])

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
# Missing values

df_AllSales.isna().sum()

## 3. Quick look at our data

In [ ]:
# To see the columns we have 

# Run this line if you wish to be able to visualize all the columns whenever you print out the dataframe

#pd.set_option('max_columns', None)

print(list(df_AllSales))
#print(list(anything else you want to see))

df_AllSales.describe()
df_AllSales.info()
AllSales.isna().sum()

## 4. Generating the report

In [ ]:
### We can generate a profile to obtain description of our datasets
### This can take some time if running report on large datasets
### We can run the report on our sample dataset

# Profile for Sales Sample

#Profile_AllSalesSample = ProfileReport(df_Allsales, title="Pandas Profiling Report Sales")

# Visualizing the report

#Report to iframe (will open report in notebook)

#Profile_AllSalesSample.to_notebook_iframe()

## Report to HTML (Will open up a new tab)
#Profile_AllSalesSample.to_file(output_file='All Sales Sample report')

## 5. Next we would like to create new columns in [Allsales] to identify wether clientID is present in [Calls], [LiveChat], [Clienteling] or any one of the 3 (we can call this column: "interaction' and assign 1 if there was interaction of any kind and 0 otherwise.

### This will be needed to filter our data and run a multidimentional analysis
#### To answer questions regarding contacts and communication between Cartier and Clients, we only need data concerning ClientsID who've had interactions with Cartier

In [19]:
%%time
# #Defining =1 when ClientID is present in the corresponding datasets
df_AllSales = df_AllSales.assign(Calls=df_AllSales.ClientID.isin(df_Calls.ClientID).astype(int))
df_AllSales = df_AllSales.assign(Clienteling=df_AllSales.ClientID.isin(df_Clienteling.ClientID).astype(int))
df_AllSales = df_AllSales.assign(Livechat=df_AllSales.ClientID.isin(df_Livechat.ClientID).astype(int))
df_AllSales = df_AllSales.assign(Wishlist=df_AllSales.ClientID.isin(df_Wishlist.ClientID).astype(int))


print(df_AllSales.Calls.unique(),
      df_AllSales.Clienteling.unique(),
      df_AllSales.Livechat.unique(),
      df_AllSales.Wishlist.unique())

[0 1] [0 1] [0 1] [0 1]
Wall time: 7.49 s

In [20]:
print(df_AllSales.head(30))

                                  InvoiceHeader   Channel TransactionDate  \
122626                                      NaN  Boutique      2019-12-14
134321                                      NaN  Boutique      2019-12-14
9874    000000010730476-GEMINI-/BIC/AZRIRBARP00  Boutique      2011-06-11
125277                                      NaN  Boutique      2019-12-14
22358   302109220925007-GEMINI-/BIC/AZRIRBARP00  Boutique      2022-09-25
4845    000000010959126-GEMINI-/BIC/AZRIRBARP00  Boutique      2013-04-08
110727                                      NaN  Boutique      2021-05-11
109418                                      NaN  Boutique      2019-02-12
13262                                       NaN  Boutique      2019-08-01
117890  240113000003532-GEMINI-/BIC/AZRIRBAPE00  Boutique      2019-07-02
16553   240303000001309-GEMINI-/BIC/AZRIRBAPE00  Boutique      2019-06-24
18388                                       NaN  Boutique      2021-05-11
409                                         NaN  Boutique      2019-05-08
20910                                       NaN  Boutique      2020-02-10
7646                                        NaN  Boutique      2016-12-10
4039    240113000003530-GEMINI-/BIC/AZRIRBAPE00  Boutique      2019-07-01
20155                                       NaN  Boutique      2021-06-15
123825  240303000001309-GEMINI-/BIC/AZRIRBAPE00  Boutique      2019-06-24
60779   120214000000854-GEMINI-/BIC/AZRIRBAPE00  Boutique      2022-05-18
113561                                      NaN  Boutique      2022-06-16
112295                                      NaN  Boutique      2022-06-16
129793                                      NaN  Boutique      2020-01-08
444964  122399000006415-GEMINI-/BIC/AZRIRBAPE00  Boutique      2022-09-10
9687                                        NaN  Boutique      2022-02-21
120224                                      NaN  Boutique      2021-07-03
125788                                      NaN  Boutique      2020-10-29
131471                                      NaN  Boutique      2020-07-26
130122                                      NaN  Boutique      2020-01-12
123192                                      NaN  Boutique      2021-07-03
19664   240109000002597-GEMINI-/BIC/AZRIRBAPE00  Boutique      2015-09-26

        TransactionDate_FYYYY TransactionCategory            ClientID  \
122626                   2020                Sale  0011i00000UNT9LAAX
134321                   2020                Sale  0011i00000UNT9LAAX
9874                     2012              Repair  0011i00000UNT9LAAX
125277                   2020                Sale  0011i00000UNT9LAAX
22358                    2023                Sale  0011i00000UNT9LAAX
4845                     2014              Repair  0011i00000UNT9LAAX
110727                   2022                Sale  0011i00000UNTHbAAP
109418                   2019                Sale  0011i00000UNTHbAAP
13262                    2020                Sale  0011i00000UNTHbAAP
117890                   2020                Sale  0011i00000UNTHbAAP
16553                    2020                Sale  0011i00000UNTHbAAP
18388                    2022                Sale  0011i00000UNTHbAAP
409                      2020                Sale  0011i00000UNTHbAAP
20910                    2020                Sale  0011i00000UNTHbAAP
7646                     2017                Sale  0011i00000UNTHbAAP
4039                     2020                Sale  0011i00000UNTHbAAP
20155                    2022                Sale  0011i00000UNTHbAAP
123825                   2020                Sale  0011i00000UNTHbAAP
60779                    2023                Sale  0011i00000UNTHbAAP
113561                   2023                Sale  0011i00000UNTM0AAP
112295                   2023                Sale  0011i00000UNTM0AAP
129793                   2020                Sale  0011i00000UNTM0AAP
444964                   2023                Sale  0011i00000UNTM0AAP
9687                     2022                Sale  0011i00000UNTM0AAP
120224                   2022                Sale  0011i00000UNTMyAAP
125788                   2021                Sale  0011i00000UNTMyAAP
131471                   2021                Sale  0011i00000UNTMyAAP
130122                   2020                Sale  0011i00000UNTMyAAP
123192                   2022                Sale  0011i00000UNTMyAAP
19664                    2016                Sale  0011i00000UNTMyAAP

        AgeAtTransaction Gender PersonBirthDate WeddingDate  ...  \
122626              56.0   Male      1964-10-13         NaN  ...
134321              56.0   Male      1964-10-13         NaN  ...
9874                48.0   Male      1964-10-13         NaN  ...
125277              56.0   Male      1964-10-13         NaN  ...
22358               59.0   Male      1964-10-13         NaN  ...
4845                50.0   Male      1964-10-13         NaN  ...
110727              28.0   Male      1994-11-23  2019-06-15  ...
109418              25.0   Male      1994-11-23  2019-06-15  ...
13262               26.0   Male      1994-11-23  2019-06-15  ...
117890              26.0   Male      1994-11-23  2019-06-15  ...
16553               26.0   Male      1994-11-23  2019-06-15  ...
18388               28.0   Male      1994-11-23  2019-06-15  ...
409                 26.0   Male      1994-11-23  2019-06-15  ...
20910               26.0   Male      1994-11-23  2019-06-15  ...
7646                23.0   Male      1994-11-23  2019-06-15  ...
4039                26.0   Male      1994-11-23  2019-06-15  ...
20155               28.0   Male      1994-11-23  2019-06-15  ...
123825              26.0   Male      1994-11-23  2019-06-15  ...
60779               29.0   Male      1994-11-23  2019-06-15  ...
113561              45.0   Male      1978-12-26  2004-06-22  ...
112295              45.0   Male      1978-12-26  2004-06-22  ...
129793              42.0   Male      1978-12-26  2004-06-22  ...
444964              45.0   Male      1978-12-26  2004-06-22  ...
9687                44.0   Male      1978-12-26  2004-06-22  ...
120224              35.0   Male      1987-01-24         NaN  ...
125788              34.0   Male      1987-01-24         NaN  ...
131471              34.0   Male      1987-01-24         NaN  ...
130122              33.0   Male      1987-01-24         NaN  ...
123192              35.0   Male      1987-01-24         NaN  ...
19664               29.0   Male      1987-01-24         NaN  ...

       Hier_Lev_3_txtA Hier_Lev_4_txtA Hier_Lev_5_txtA ProductCollectionA  \
122626             NaN             NaN             NaN                NaN
134321             NaN             NaN             NaN                NaN
9874              96.0           337.0           919.0               97.0
125277             NaN             NaN             NaN                NaN
22358             96.0           336.0           722.0               83.0
4845              96.0           337.0           919.0               97.0
110727            46.0             5.0           488.0               51.0
109418             5.0           157.0           539.0               57.0
13262              5.0           157.0           405.0               48.0
117890            72.0           291.0           787.0               95.0
16553             98.0           240.0           193.0                9.0
18388             56.0           234.0           464.0               69.0
409               66.0           282.0           766.0               78.0
20910             90.0           238.0           602.0               72.0
7646             105.0           192.0           823.0               78.0
4039              72.0           291.0           786.0               95.0
20155              5.0           157.0           539.0               57.0
123825            66.0           282.0           766.0               78.0
60779            105.0           192.0            88.0               78.0
113561            96.0           337.0           822.0               78.0
112295             5.0           157.0           539.0               57.0
129793             5.0           157.0           539.0               57.0
444964             5.0           157.0           405.0               48.0
9687               5.0           157.0           405.0               48.0
120224            31.0           128.0           701.0               83.0
125788             5.0            43.0            17.0                1.0
131471             5.0           157.0           405.0               48.0
130122            96.0           337.0            61.0                6.0
123192            43.0           165.0            59.0                6.0
19664             72.0           287.0           775.0               73.0

       in_salesdataset NationalityA Calls  Clienteling  Livechat  Wishlist
122626               0         90.0     0            0         0         0
134321               0         90.0     0            0         0         0
9874                 0         90.0     0            0         0         0
125277               0         90.0     0            0         0         0
22358                1          NaN     0            0         0         0
4845                 0         90.0     0            0         0         0
110727               0        155.0     0            1         0         0
109418               0        155.0     0            1         0         0
13262                0        155.0     0            1         0         0
117890               0        155.0     0            1         0         0
16553                0        155.0     0            1         0         0
18388                0        155.0     0            1         0         0
409                  0        155.0     0            1         0         0
20910                0        155.0     0            1         0         0
7646                 0        155.0     0            1         0         0
4039                 0        155.0     0            1         0         0
20155                0        155.0     0            1         0         0
123825               0        155.0     0            1         0         0
60779                1          NaN     0            1         0         0
113561               0        155.0     0            1         0         0
112295               0        155.0     0            1         0         0
129793               0        155.0     0            1         0         0
444964               1          NaN     0            1         0         0
9687                 0        155.0     0            1         0         0
120224               0        182.0     0            1         0         0
125788               0        182.0     0            1         0         0
131471               0        182.0     0            1         0         0
130122               0        182.0     0            1         0         0
123192               0        182.0     0            1         0         0
19664                0        182.0     0            1         0         0

[30 rows x 39 columns]

# 6. Generate a table which shows what % of total # of ClientID are present in Calls, Livechat, Clienteling and all 3 of them. 
## Not so useful... As we have this information through excel already, but it can be a good coding exercise :)

In [ ]:
#Code:

# 7. ## We could filter [AllSales] in order to obtain only the clientID which repurchased after 4 years. This could allow us to look into details what's special about those clients

In [ ]:
#Code 
#1. Create a new dataframe that is sorted by nb_days_since_last_sale, descending
#df_sortedallsalesbydays = df_AllSales.sort_values("nb_days_since_last_sale" , axis=0, ascending=False)

#2. Visusalize the top 2 records 
#print(sortedallsalesbydays[["ClientID", "nb_days_since_last_sale"]].head(2))

#3. Here we count the number of clients with last sale since more than 1460 days (about 4 years)

#df_sortedallsalesbydays[df_sortedallsalesbydays.nb_days_since_last_sale > 1460].filter(["ClientID", "nb_days_since_last_sale"]).count(axis=0)

# Answer: There are 126048 record in our dataset with their last purchase made 4 years ago or more

# 8. Filter [AllSales] by Interaction = 1

## What kind of question can we answer with this data? (Brainstorm needed)
### Were the purchases made right after communication? 
#### Compare date of purchase with date of latest interaction
### Which type of communication caused the most repurchases ? 
#### Can we use turnover to evaluate which type of communication made the most revenues?

 
## Clienteling:
### What kind of activity category is most effective
### Make a ranking by activity category and type
### Any link between activity status and repurchase / sale amount? 

## Wishlist:
### Do clients with a wishlist repurchase after 4 years? 
### Any link between last modified date, created date and purchase date?

## All Sales
### Make a ranking of product categories repurchased after 4 years in order of magnitude
### Make another table with a column to identify if product repurchased is in same category, subcategory,  of first product bought
### Whats up with wedding dates / anniversary dates and repurchase?

## Calls


## Livechat

In [ ]:
# Code

# 9. Yann Recommendations

In [ ]:
# Reduce dataset as much as possible 
# Then run premilimary anaysis / desc statistics
# Recode variables 
# Logistic regression : 
# y : Client rebought after 4 years or no

# y: look at y=1
# try to do some clustering according to key variables (product_category?, wedding?, anniversary?, INTERACTION???)

# 10. Regarding yann's recommendations:

In [ ]:
# When he says "reduce dataset as much as possible",
# he means we have to make sure that we have unique values for ClientID
# Since Clients appear more than once due to the fact that some of them have purchased more than once,
# We must find a way to "summarize" every client in a way that we end up with only unique ClientIDs in the ClientID column

# For example: 


examplereduce = {
    "ClientID": [1,1,2,3],
    "number_of_days_since_last_sale": [10,20,10,10]}

df_examplereduce = pd.DataFrame(examplereduce)

print(df_examplereduce, "\n\n", "As you can see, ClientID 1 appears twice but we want to 'Summarize' it")

In [ ]:
# We can summarize it by using the groupby function from panda

df_examplegroupedby = df_examplereduce.groupby(['ClientID']).mean()

print(df_examplegroupedby)

# Here we specify that we want to group ClientID by their mean

print(" \n As you can see, we now only have one record for each ClientID, grouped by the mean of number_of_days_since_last_sale")

In [ ]:
## This is easy and pretty straightforward because only the "number_of_days_since_last_sale" was summarized
## We have to figure out how we want each column to be summarized for each ClientID 
## Amber and Riccardo: If you could look at each variables from the All_sales dataset and figure out if
### 1. We can actually group the variable (for example: some variables can't be grouped, or it is difficult to group them)
###   Categorical variables are tricky: (If we look at product_category: 
###   how do you summarize if someone bought a watch and a necklage?, you cant do average on a categorical variable
### However, you can group by the mode, meaning the product_category that appeared the most

In [ ]:
# To see all our columns

df_AllSales.head()

# There is a default limit of columns that panda will display, If you wish to be able to see all of them: 
#pd.set_option('max_columns', None)
# then df_AllSales.head() again

In [ ]:
# Yann also said to recode the variables
# That's something you guys could look into

# For example: Look at Product Category & Subproduct:

print(df_AllSales.ProductCategory.unique(), "\n\n", df_AllSales.ProductSubCategory.unique())

# We should assign numerical values to them if we determine there is some sort of ranking between them
# Otherwise, we have to create a new column for each of them with the value 1 or 0 
# We need this to run the logistic regression
# Find which one of them comes up the more often and then decide if we want to create a new variable called
# "WATCHES" which would be [0,1]

# 10. Where we're heading

""Cartier Data Science expert would like to make a clarification on the transactions in the dataset: in the dataset there are not only repurchasing clients coming back after more than 4 years, But also clients repurchasing clients coming back before this threshold. 

In terms of the project requirement, this does not impact what is expected from you. The statistics about repurchasing customers after 4 years is something that Cartier started to investigate and which would be the best starting point for your research. Of course, if it is possible to also investigate other types of returning customers, it could add a different perspective (and possibly a better insight) of repurchasing customers’ behaviour.""


## In the sales It is very useful that we also have clients who DIDNT repurchase after 4 years because we can now run a Logistic Regression which will be y = x1 + x2 + x3 + u, where y = [0,1] 
## y=0 would indicate Client didn't repurchase after 4 years 
## y=1 would indicate Client did repurchase after 4 years
## Our covariates x1, x2, ..., xi could be things like "Turnover", "Product_Category", "Interaction" -> (those are variables we have to create using the communication datasets we have)

# What kind of variables can we construct out of our dataset to include in the logistic regression

In [ ]:
## Difference between wedding date and date of purchase
## Create interaction variables
## Plot collections \ prod category with repurchase 
## Plot most of our variables before we include them in our regression 
## Create dummy variables allowing us to reduce dataset
## Create a number of products purchased by ClientID