# **This is the collaborative code for the group project QTEM Data Challenge**

###  Before editing or contributing to this code, you should create a side notebook where you can test your ideas
You can do so by cloning this notebook under another name

Also, when adding a cell, make sure you comment and put a title on what you are doing so we can keep track of all steps

Have FUN!!!

## Markdowns: 

### You can change the cell type to Markdown in the dropdown list in the top menu
### Add a cell, then select Mardown
### You can then write text under different format
### Use the "#" symbol before your text to make it bigger
# "#" will make it Super large
## "##" a bit smaller
### "###" a bit smaller
##### "####" you get the point

# ____ __________________ _________ _______ __________ ______________

## 1. Install and import packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

## 2. Importing data and defining datasets

### Important information / clarification about the datasets: 

SENT BY MAIO VITTORIO THROUGH FORUM: 

""Cartier Data Science expert would like to make a clarification on the transactions in the dataset: in the dataset there are not only repurchasing clients coming back after more than 4 years, But also clients repurchasing clients coming back before this threshold.

In terms of the project requirement, this does not impact what is expected from you. The statistics about repurchasing customers after 4 years is something that Cartier started to investigate and which would be the best starting point for your research. Of course, if it is possible to also investigate other types of returning customers, it could add a different perspective (and possibly a better insight) of repurchasing customers’ behaviour."" 

### This means we could / should also analyze the data from customers who return after less than 4 years
### I think we should start by the ones coming after 4 years since this is the central point 
### We could deep further if we deem it necessary

In [2]:
df_Calls = pd.read_csv("b. CARTIER_CALLS.csv")
df_Clienteling = pd.read_csv("c. CARTIER_CLIENTELING.csv")
df_Livechat = pd.read_csv("d. CARTIER_LIVECHAT.csv")
df_PrevSales = pd.read_csv("e. CARTIER_PREVIOUS_SALES.csv")
df_Sales = pd.read_csv("f. CARTIER_SALES.csv")
df_Wishlist = pd.read_csv("g. CARTIER_WISHLIST.csv")

# Merged sales and previous sales dataset with extra column [in_salesdataset] to indicate to which original dataset 
# the data belong

df_Sales['in_salesdataset']=1
df_PrevSales['in_salesdataset']=0
df_AllSales = pd.concat([df_Sales, df_PrevSales])
df_AllSales = df_AllSales.sort_values(by='ClientID', ascending= True)

#to export a dataframe to excel (for siqi): 

#df_BLABLABLA.to_csv('df_BLABLABLA.csv')

# Define a sample dataset to work with for speed purposes if necessary (10% of size)

#df_AllSalesSample = df_AllSales.head(int(round((len(df_allsales)/(10)),0)))
# How to get a random sample of the dataset ??
## df_Prevsales=df_Prevsales.sample(frac=0.1)

## 3. Quick look at our columns

In [3]:
# To see the columns we have 

# Run this line if you wish to be able to visualize all the columns whenever you print out the dataframe

#pd.set_option('max_columns', None)

print(list(df_AllSales))
#print(list(anything else you want to see))

['InvoiceHeader', 'Channel', 'TransactionDate', 'TransactionDate_FYYYY', 'TransactionCategory', 'ClientID', 'AgeAtTransaction', 'Gender', 'PersonBirthDate', 'WeddingDate', 'SpokenLanguage', 'WrittenLanguage', 'FirstSalesDate', 'FirstTransactionDate', 'ProductCategory', 'ProductSubCategory', 'ProductFunction', 'Turnover', 'quantity', 'seq_sales_trs', 'nb_days_since_last_sale', 'PurchasedMarketA', 'PurchasedRegionA', 'ResidencyRegionA', 'ResidencyMarketA', 'BoutiqueNameA', 'ResidencyCountryA', 'nationalityA', 'articleA', 'Hier_Lev_3_txtA', 'Hier_Lev_4_txtA', 'Hier_Lev_5_txtA', 'ProductCollectionA', 'in_salesdataset', 'NationalityA', 'ArticleA']

## 4. Generating the report

In [5]:
### We can generate a profile to obtain description of our datasets
### This can take some time if running report on large datasets
### We can run the report on our sample dataset

# Profile for Sales Sample

#Profile_AllSalesSample = ProfileReport(df_Allsales, title="Pandas Profiling Report Sales")

# Visualizing the report

#Report to iframe (will open report in notebook)

#Profile_AllSalesSample.to_notebook_iframe()

## Report to HTML (Will open up a new tab)
#Profile_AllSalesSample.to_file(output_file='All Sales Sample report')

## 5. Next we would like to create new columns in [Allsales] to identify wether clientID is present in [Calls], [LiveChat], [Clienteling] or any one of the 3 (we can call this column: "interaction' and assign 1 if there was interaction of any kind and 0 otherwise.

### This will be needed to filter our data and run a multidimentional analysis
#### To answer questions regarding contacts and communication between Cartier and Clients, we only need data concerning ClientsID who've had interactions with Cartier

In [6]:
#Code:

# Example of what we want
ExampleSales1 = {'ClientID': [1,2,3], 'blabla': [2,3,4]}
df_ExampleSales1 = pd.DataFrame(ExampleSales1)

ExampleCall1= {'ClientID':[2,3,4], 'dateofcall':[2,3,4]}
df_ExampleCall1 = pd.DataFrame(ExampleCall1)
df_finaldataset = pd.DataFrame()
df_finaldataset = df_finaldataset.append(df_ExampleSales1)
df_finaldataset['Interaction?'] = [0,1,1]

# Result: 
print("Results are \n\n", df_ExampleSales1,"\n", df_ExampleCall1, "\n", df_finaldataset)

Results are

    ClientID  blabla
0         1       2
1         2       3
2         3       4
    ClientID  dateofcall
0         2           2
1         3           3
2         4           4
    ClientID  blabla  Interaction?
0         1       2             0
1         2       3             1
2         3       4             1

# 6. Generate a table which shows what % of total # of ClientID are present in Calls, Livechat, Clienteling and all 3 of them. 
## Not so useful... As we have this information through excel already, but it can be a good coding exercise :)

In [3]:
#Code:

# 7. ## We could filter [AllSales] in order to obtain only the clientID which repurchased after 4 years. This could allow us to look into details what's special about those clients

In [20]:
#Code 
#1. Create a new dataframe that is sorted by nb_days_since_last_sale, descending
#df_sortedallsalesbydays = df_AllSales.sort_values("nb_days_since_last_sale" , axis=0, ascending=False)

#2. Visusalize the top 2 records 
#print(sortedallsalesbydays[["ClientID", "nb_days_since_last_sale"]].head(2))

#3. Here we count the number of clients with last sale since more than 1460 days (about 4 years)

#df_sortedallsalesbydays[df_sortedallsalesbydays.nb_days_since_last_sale > 1460].filter(["ClientID", "nb_days_since_last_sale"]).count(axis=0)

# Answer: There are 126048 record in our dataset with their last purchase made 4 years ago or more

ClientID                   126048
nb_days_since_last_sale    126048
dtype: int64

# 8. Filter [AllSales] by Interaction = 1

## What kind of question can we answer with this data? (Brainstorm needed)
### Were the purchases made right after communication? 
#### Compare date of purchase with date of latest interaction
### Which type of communication caused the most repurchases ? 
#### Can we use turnover to evaluate which type of communication made the most revenues?

 
## Clienteling:
### What kind of activity category is most effective
### Make a ranking by activity category and type
### Any link between activity status and repurchase / sale amount? 

## Wishlist:
### Do clients with a wishlist repurchase after 4 years? 
### Any link between last modified date, created date and purchase date?

## All Sales
### Make a ranking of product categories repurchased after 4 years in order of magnitude
### Make another table with a column to identify if product repurchased is in same category, subcategory,  of first product bought
### Whats up with wedding dates / anniversary dates and repurchase?

## Calls


## Livechat

In [4]:
# Code

# 9. Yann Recommendations

In [21]:
# Reduce dataset as much as possible 
# Then run premilimary anaysis / desc statistics
# Recode variables 
# Logistic regression : 
# y : Client rebought after 4 years or no

# y: look at y=1
# try to do some clustering according to key variables (product_category?, wedding?, anniversary?, INTERACTION???)

# 10. Regarding yann's recommendations:

In [26]:
# When he says "reduce dataset as much as possible",
# he means we have to make sure that we have unique values for ClientID
# Since Clients appear more than once due to the fact that some of them have purchased more than once,
# We must find a way to "summarize" every client in a way that we end up with only unique ClientIDs in the ClientID column

# For example: 


examplereduce = {
    "ClientID": [1,1,2,3],
    "number_of_days_since_last_sale": [10,20,10,10]}

df_examplereduce = pd.DataFrame(examplereduce)

print(df_examplereduce, "\n\n", "As you can see, ClientID 1 appears twice but we want to 'Summarize' it")

   ClientID  number_of_days_since_last_sale
0         1                              10
1         1                              20
2         2                              10
3         3                              10

 As you can see, ClientID 1 appears twice but we want to 'Summarize' it

In [33]:
# We can summarize it by using the groupby function from panda

df_examplegroupedby = df_examplereduce.groupby(['ClientID']).mean()

print(df_examplegroupedby)

# Here we specify that we want to group ClientID by their mean

print(" \n As you can see, we now only have one record for each ClientID, grouped by the mean of number_of_days_since_last_sale")

          number_of_days_since_last_sale
ClientID
1                                     15
2                                     10
3                                     10

 As you can see, we now only have one record for each ClientID, grouped by the mean of number_of_days_since_last_sale

In [34]:
## This is easy and pretty straightforward because only the "number_of_days_since_last_sale" was summarized
## We have to figure out how we want each column to be summarized for each ClientID 
## Amber and Riccardo: If you could look at each variables from the All_sales dataset and figure out if
### 1. We can actually group the variable (for example: some variables can't be grouped, or it is difficult to group them)
###   Categorical variables are tricky: (If we look at product_category: 
###   how do you summarize if someone bought a watch and a necklage?, you cant do average on a categorical variable
### However, you can group by the mode, meaning the product_category that appeared the most

In [37]:
# To see all our columns

df_AllSales.head()

# There is a default limit of columns that panda will display, If you wish to be able to see all of them: 
#pd.set_option('max_columns', None)
# then df_AllSales.head() again

,InvoiceHeader,Channel,TransactionDate,TransactionDate_FYYYY,TransactionCategory,ClientID,AgeAtTransaction,Gender,PersonBirthDate,WeddingDate,SpokenLanguage,WrittenLanguage,FirstSalesDate,FirstTransactionDate,ProductCategory,ProductSubCategory,ProductFunction,Turnover,quantity,seq_sales_trs,nb_days_since_last_sale,PurchasedMarketA,PurchasedRegionA,ResidencyRegionA,ResidencyMarketA,BoutiqueNameA,ResidencyCountryA,nationalityA,articleA,Hier_Lev_3_txtA,Hier_Lev_4_txtA,Hier_Lev_5_txtA,ProductCollectionA,in_salesdataset,NationalityA,ArticleA
122626,NaN,Boutique,2019-12-14,2020,Sale,0011i00000UNT9LAAX,56.0,Male,1964-10-13,NaN,English,English,2019-12-14,2011-06-11,NaN,NaN,NaN,65.678613,1,3,2441.0,12,5,5,12,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,0,90.0,NaN
134321,NaN,Boutique,2019-12-14,2020,Sale,0011i00000UNT9LAAX,56.0,Male,1964-10-13,NaN,English,English,2019-12-14,2011-06-11,NaN,NaN,NaN,81.143832,1,3,2441.0,12,5,5,12,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,0,90.0,NaN
9874,000000010730476-GEMINI-/BIC/AZRIRBARP00,Boutique,2011-06-11,2012,Repair,0011i00000UNT9LAAX,48.0,Male,1964-10-13,NaN,English,English,2019-12-14,2011-06-11,WATCHES,NON PRECIOUS W.,STEEL W.,447.008100,1,1,NaN,2,2,5,12,88.0,89.0,NaN,NaN,96.0,337.0,919.0,97.0,0,90.0,635863.0
125277,NaN,Boutique,2019-12-14,2020,Sale,0011i00000UNT9LAAX,56.0,Male,1964-10-13,NaN,English,English,2019-12-14,2011-06-11,NaN,NaN,NaN,479.618832,1,3,2441.0,12,5,5,12,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,0,90.0,NaN
22358,302109220925007-GEMINI-/BIC/AZRIRBARP00,Boutique,2022-09-25,2023,Sale,0011i00000UNT9LAAX,59.0,Male,1964-10-13,NaN,English,English,2019-12-14,2011-06-11,WATCHES,NON PRECIOUS W.,STEEL W.,8205.120000,1,4,1016.0,2,2,5,12,89.0,89.0,90.0,635779.0,96.0,336.0,722.0,83.0,1,NaN,NaN

In [42]:
# Yann also said to recode the variables
# That's something you guys could look into

# For example: Look at Product Category & Subproduct:

print(df_AllSales.ProductCategory.unique(), "\n\n", df_AllSales.ProductSubCategory.unique())

# We should assign numerical values to them if we determine there is some sort of ranking between them
# Otherwise, we have to create a new column for each of them with the value 1 or 0 
# We need this to run the logistic regression
# Find which one of them comes up the more often and then decide if we want to create a new variable called
# "WATCHES" which would be [0,1]

[nan 'WATCHES' 'ACCESSORIES' 'JEWELRY'
 'REFILL, CS ACCESSORIES OR SPARE PARTS' 'SERVICE' 'OTHER' 'GIFT'
 'PACKAGING OR POS']

 [nan 'NON PRECIOUS W.' 'FRAGRANCES' 'BIJOUX' 'OBJECTS' 'EYEWEAR'
 'REFILL, SPARE PARTS OR CS ACCESSORIES (EXC STRAPS)' 'LG'
 'LEATHER STRAPS' 'PRECIOUS W.' 'OTHER' 'HE W.' 'NJ' 'FJ' 'HJ'
 'SPECIAL SALES' 'OTHER HIGH END']

# 10. Where we're heading

""Cartier Data Science expert would like to make a clarification on the transactions in the dataset: in the dataset there are not only repurchasing clients coming back after more than 4 years, But also clients repurchasing clients coming back before this threshold. 

In terms of the project requirement, this does not impact what is expected from you. The statistics about repurchasing customers after 4 years is something that Cartier started to investigate and which would be the best starting point for your research. Of course, if it is possible to also investigate other types of returning customers, it could add a different perspective (and possibly a better insight) of repurchasing customers’ behaviour.""


## In the sales It is very useful that we also have clients who DIDNT repurchase after 4 years because we can now run a Logistic Regression which will be y = x1 + x2 + x3 + u, where y = [0,1] 
## y=0 would indicate Client didn't repurchase after 4 years 
## y=1 would indicate Client did repurchase after 4 years
## Our covariates x1, x2, ..., xi could be things like "Turnover", "Product_Category", "Interaction" -> (those are variables we have to create using the communication datasets we have)